.headline {
  padding: 0;
  margin: 0;
  top: 0;

  @include media("<=lg") {
    margin: gutter(5) 0;
  }

  &--black {
    color: $black;
  }

  &--white {
    color: $white;
  }

  &--abso {
    position: absolute;
  }

  &__title {
    @extend %special;
    @extend .title;
  }
}
